@model Ateliware.RepositoriosDestaques.Application.ViewModels.RepositorioDestaqueViewModel

@{
    ViewData["Title"] = "Detalhes do Repositório";
}

<h2>@ViewData["Title"]</h2>

<p>Visualizar os detalhes do repositório destaque</p>

<div class="jumbotron">
    <h1>@Model.Nome</h1>
    <p>@Model.Descricao</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Commits <span class="badge">@Model.QtdCommits</span></a>
    <a class="btn btn-primary btn-lg" href="#" role="button">Forks <span class="badge">@Model.QtdForks</span></a>
    <a class="btn btn-primary btn-lg" href="#" role="button">Issues <span class="badge">@Model.QtdIssues</span></a></p>
    <h4>Estrelas: @Model.Avaliacao  <span class="glyphicon glyphicon-star" aria-hidden="true"></span></h4>
    <h4>Criado em: @Model.DataCriacao</h4>
    <h4>Atualizado pela última vez: @Model.DataAtualizacao</h4>
</div>